{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="icon" type="image/x-icon" href="{% static 'img/JECfavicon400x400_tp.png' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>{% block title %}{% endblock %} - JEC eportv4</title>
  </head>
  <body>
	{% include 'navbar.html' %}
    {% block content %} {% endblock %}
	{% include 'footer.html' %}
	<script src="{% static 'js/script.js' %}" defer></script>
  </body>
</html>